* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    color: #41362f;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.36;
    font-size: 1.4rem;
}

a, a:visited, .messages label {
    color: #007bdb;
    text-decoration: none;
}

a:hover, a:focus,
.messages label:hover, .messages label:focus {
    cursor: pointer;
    color: #007bdb;
    text-decoration: underline;
}

td, th {
    padding: 0;
}

table {
    background-color: transparent;
    color: #303030;
    border-collapse: collapse;
    border-spacing: 0;
}

.data-grid {
    border: none;
    font-size: 1.3rem;
    width: 100%;
}

.data-grid th, .data-grid td {
    font-size: 1.3rem;
    line-height: 1.36;
    transition: background-color 0.1s linear;
    vertical-align: top;
}

.data-grid th {
    background-color: #514943;
    border: 0.1rem solid #8a837f;
    font-weight: 600;
    text-align: left;
}

.data-grid .data-grid-th {
    background-clip: padding-box;
    color: #ffffff;
    padding: 1rem 1rem;
    position: relative;
    vertical-align: middle;
}

.data-grid th:first-child {
    border-left-color: #8a837f;
}

.data-grid td {
    color: #303030;
}

.data-grid-cell-content {
    display: inline-block;
    overflow: hidden;
    width: 100%;
}

.data-grid td {
    background-color: #ffffff;
    border-right: 0.1rem dashed #d6d6d6;
    border-left: 0.1rem dashed #d6d6d6;
    color: #303030;
    padding: 1rem 1rem;
}

.data-grid tr:last-child td {
    border-bottom: 0.1rem solid #d6d6d6;
}

.data-grid tr.data-grid-editable-row:last-child td {
    border-bottom: 0;
}

.data-grid td:first-child {
    border-left-style: solid;
}

.data-grid td:last-child {
    border-right-style: solid;
}

.data-grid td:last-child {
    border-right-style: solid;
}

.message {
    background: #eee;
    color: #333333;
    font-size: 1.4rem;
    margin: 0 0 1px;
    padding: 1.8rem 4rem 1.8rem 4rem;
}

.message-notice {
    background: #fffbbb;
}

.message svg {
    max-width: 16px;
    color: #007bdb;
    position: relative;
    left: -10px;
    top: 2px;
}

.messages .message:last-child {
    margin: 0 0 2rem;
}

.content .show-all-messages {
    display: none;
}

.header {
    background: #eee;
    color: #333333;
    font-size: 1.4rem;
    padding: 1.8rem 4rem 1.8rem 4rem;
    margin: 20px 0;
}
