.data-grid th a {
    color: #009bff;
}

.data-grid a svg path {
    fill: #007bdb;
}

.data-row.error td,
.data-row.error:hover td {
    background: rgba(220, 53, 69, .3);
}

.data-row._odd-row.error td,
.data-row._odd-row.error:hover td {
    background: rgba(220, 53, 69, .5);
}

.data-row.warning td,
.data-row.warning:hover td {
    background: rgba(255, 251, 187, .3);
}

.data-row._odd-row.warning td,
.data-row._odd-row.warning:hover td {
    background: rgba(255, 251, 187, .5);
}

.data-row.security td,
.data-row.security:hover td {
    background: rgba(255, 251, 187, .3);
}

.data-row._odd-row.security td,
.data-row._odd-row.security:hover td {
    background: rgba(255, 251, 187, .5);
}

.data-row.info td,
.data-row.info:hover td {
    background: #fff;
}

.data-row._odd-row.info td,
.data-row._odd-row.info:hover td {
    background: #f5f5f5;
}

.log-message svg {
    height: auto;
    vertical-align: middle;
    width: 13px;
}

.log-time {
    white-space: nowrap;
    width: 1%;
}

/*noinspection CssUnusedSymbol*/
a.icon {
    margin-left: 5px;
}

.group-title {
    font-size: 15px;
}

.group-message {
    float: right;
    line-height: 20px;
}

.admin__control-support-text {
    color: #888;
}

.admin__control-support-text .date {
    color: #000;
}

.duplicate-count {
    background-color: rgba(108, 134, 125, .5);
    border-radius: 10rem;
    color: #fff;
    display: inline-block;
    float: right;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    margin-top: 2px;
    padding: .25em .6em;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
}
