<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Add the CLI commands -->
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="event_log_finish_digest_command" xsi:type="object">
                    Ryvon\EventLog\Console\Command\FinishDigestCommand
                </item>
            </argument>
        </arguments>
    </type>

    <!-- Add the groups to the group finder -->
    <type name="Ryvon\EventLog\Helper\GroupFinder">
        <arguments>
            <argument name="groups" xsi:type="array">
                <item name="admin" xsi:type="string">Ryvon\EventLog\Helper\Group\AdminGroup</item>
                <item name="cleanup" xsi:type="string">Ryvon\EventLog\Helper\Group\CleanupGroup</item>
                <item name="orders" xsi:type="string">Ryvon\EventLog\Helper\Group\OrdersGroup</item>
            </argument>
        </arguments>
    </type>

    <!-- Add the action observers to the monitor plugin. -->
    <type name="Ryvon\EventLog\Plugin\ActionMonitorPlugin">
        <arguments>
            <argument name="monitors" xsi:type="array">
                <item name="adminhtml_system_config_save" xsi:type="object">
                    Ryvon\EventLog\Observer\Action\SystemConfigSaveObserver
                </item>
                <item name="theme_design_config_save" xsi:type="object">
                    Ryvon\EventLog\Observer\Action\DesignConfigSaveObserver
                </item>
                <item name="adminhtml_cache_massRefresh" xsi:type="object">
                    Ryvon\EventLog\Observer\Action\MassCacheRefreshObserver
                </item>
            </argument>
        </arguments>
    </type>

    <!-- This is needed for the email send to not fail when sending through the CLI -->
    <type name="Magento\Developer\Model\TemplateEngine\Plugin\DebugHints">
        <arguments>
            <argument name="debugHintsPath" xsi:type="string">dev/debug/template_hints_storefront</argument>
        </arguments>
    </type>

    <!-- Add a plugin to hook into the action dispatch event -->
    <type name="Magento\Backend\App\AbstractAction">
        <plugin name="event_log_action_monitor_plugin" type="Ryvon\EventLog\Plugin\ActionMonitorPlugin" sortOrder="1"/>
    </type>

    <!-- Add plugins to hook into the attribute save and delete events -->
    <type name="Magento\Catalog\Model\ResourceModel\Attribute">
        <plugin name="event_log_attribute_plugin" type="Ryvon\EventLog\Plugin\AttributePlugin" sortOrder="1"/>
    </type>
    <type name="Magento\Eav\Model\ResourceModel\Entity\Attribute\Set">
        <plugin name="event_log_attribute_set_plugin" type="Ryvon\EventLog\Plugin\AttributeSetPlugin" sortOrder="1"/>
    </type>

    <!-- Add plugins to hook into the admin user and role save and delete events -->
    <type name="Magento\User\Model\User">
        <plugin name="event_log_admin_user_plugin" type="Ryvon\EventLog\Plugin\AdminUserPlugin" sortOrder="1"/>
    </type>
    <type name="Magento\Authorization\Model\Role">
        <plugin name="event_log_admin_role_plugin" type="Ryvon\EventLog\Plugin\AdminRolePlugin" sortOrder="1"/>
    </type>
</config>
