<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="event_log_info">
        <observer name="event_log_record_info" instance="Ryvon\EventLog\Observer\RecordEntryObserver"/>
    </event>
    <event name="event_log_error">
        <observer name="event_log_record_error" instance="Ryvon\EventLog\Observer\RecordEntryObserver"/>
    </event>
    <event name="event_log_warning">
        <observer name="event_log_record_warning" instance="Ryvon\EventLog\Observer\RecordEntryObserver"/>
    </event>
    <event name="event_log_security">
        <observer name="event_log_record_security" instance="Ryvon\EventLog\Observer\RecordEntryObserver"/>
    </event>

    <event name="backend_auth_user_login_success">
        <observer name="event_log_login_success_observer" instance="Ryvon\EventLog\Observer\AdminLoginSuccessObserver"/>
    </event>
    <event name="backend_auth_user_login_failed">
        <observer name="event_log_login_failed_observer" instance="Ryvon\EventLog\Observer\AdminLoginFailedObserver"/>
    </event>
</config>
