<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="event_log_info">
        <observer name="event_log_record_info" instance="Ryvon\EventLog\Observer\RecordEntryObserver"/>
    </event>
    <event name="event_log_error">
        <observer name="event_log_record_error" instance="Ryvon\EventLog\Observer\RecordEntryObserver"/>
    </event>
    <event name="event_log_warning">
        <observer name="event_log_record_warning" instance="Ryvon\EventLog\Observer\RecordEntryObserver"/>
    </event>
    <event name="event_log_security">
        <observer name="event_log_record_security" instance="Ryvon\EventLog\Observer\RecordEntryObserver"/>
    </event>

    <event name="event_log_post_finish_digest">
        <observer name="event_log_report_orders" instance="Ryvon\EventLog\Observer\ReportOrdersObserver"/>
    </event>

    <event name="backend_auth_user_login_success">
        <observer name="event_log_login_success_observer" instance="Ryvon\EventLog\Observer\AdminLoginSuccessObserver"/>
    </event>
    <event name="backend_auth_user_login_failed">
        <observer name="event_log_login_failed_observer" instance="Ryvon\EventLog\Observer\AdminLoginFailedObserver"/>
    </event>

    <event name="catalog_product_save_after">
        <observer name="event_log_product_save_observer"
                  instance="Ryvon\EventLog\Observer\ProductModificationObserver"/>
    </event>
    <event name="catalog_product_delete_after">
        <observer name="event_log_product_delete_observer"
                  instance="Ryvon\EventLog\Observer\ProductModificationObserver"/>
    </event>

    <event name="catalog_category_save_after">
        <observer name="event_log_category_save_observer"
                  instance="Ryvon\EventLog\Observer\CategoryModificationObserver"/>
    </event>
    <event name="catalog_category_delete_after">
        <observer name="event_log_category_delete_observer"
                  instance="Ryvon\EventLog\Observer\CategoryModificationObserver"/>
    </event>

    <event name="cms_page_save_after">
        <observer name="event_log_page_save_observer"
                  instance="Ryvon\EventLog\Observer\CmsPageModificationObserver"/>
    </event>
    <event name="cms_page_delete_after">
        <observer name="event_log_page_delete_observer"
                  instance="Ryvon\EventLog\Observer\CmsPageModificationObserver"/>
    </event>

    <event name="adminhtml_customer_save_after">
        <observer name="event_log_customer_save_after_observer"
                  instance="Ryvon\EventLog\Observer\CustomerModificationObserver"/>
    </event>
    <event name="customer_delete_after">
        <observer name="event_log_customer_delete_observer"
                  instance="Ryvon\EventLog\Observer\CustomerModificationObserver"/>
    </event>
</config>
