<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="event_log_info">
        <observer name="event_log_record_info" instance="Ryvon\EventLog\Observer\AddEntryObserver"/>
    </event>
    <event name="event_log_error">
        <observer name="event_log_record_error" instance="Ryvon\EventLog\Observer\AddEntryObserver"/>
    </event>
    <event name="event_log_warning">
        <observer name="event_log_record_warning" instance="Ryvon\EventLog\Observer\AddEntryObserver"/>
    </event>
    <event name="event_log_security">
        <observer name="event_log_record_security" instance="Ryvon\EventLog\Observer\AddEntryObserver"/>
    </event>

    <event name="event_log_post_finish_digest">
        <observer name="event_log_report_orders" instance="Ryvon\EventLog\Observer\ReportOrdersObserver"/>
    </event>

    <!-- These events are here instead of adminhtml/events.xml to catch CLI cache clears as well -->
    <event name="adminhtml_cache_flush_all">
        <observer name="event_log_cache_flush_all" instance="Ryvon\EventLog\Observer\Event\CacheFlushEventObserver"/>
    </event>
    <event name="adminhtml_cache_flush_system">
        <observer name="event_log_cache_flush_system" instance="Ryvon\EventLog\Observer\Event\CacheFlushEventObserver"/>
    </event>
</config>
