<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="system">
            <group id="event_log"
                   translate="label"
                   type="text"
                   sortOrder="1000"
                   showInDefault="1"
                   showInWebsite="1"
                   showInStore="1">
                <label>Event Log</label>
                <field id="hide_duplicates"
                       translate="label,comment"
                       type="select"
                       sortOrder="10"
                       showInDefault="1"
                       showInWebsite="0"
                       showInStore="0">
                    <label>Hide Duplicate Entries</label>
                    <comment>This will only hide messages that are not security related.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="internal_digest_cron"
                       translate="label,comment"
                       type="select"
                       sortOrder="20"
                       showInDefault="1"
                       showInWebsite="0"
                       showInStore="0">
                    <label>Run Cron Through Magento</label>
                    <comment>
<![CDATA[
This will automatically finish the digest daily at 8:20 AM and send out the digest email if
that option is enabled.  If this is disabled you will need to run the finish digest command
when you want the digest to be finished and sent.<br/><br/>
Finish Digest Command: <code>bin/magento event-log:finish-digest</code>
]]>
                    </comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="enable_digest_email"
                       translate="label,comment"
                       type="select"
                       sortOrder="30"
                       showInDefault="1"
                       showInWebsite="0"
                       showInStore="0">
                    <label>Enable Digest Email</label>
                    <comment>Sends an email containing the digest out when it is completed.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="sender_email_identity"
                       translate="label"
                       type="select"
                       sortOrder="40"
                       showInDefault="1"
                       showInWebsite="0"
                       showInStore="0">
                    <label>Send Digest Emails From</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Identity</source_model>
                    <depends>
                        <field id="system/event_log/enable_digest_email">1</field>
                    </depends>
                </field>
                <field id="recipient_email"
                       translate="label,comment"
                       type="text"
                       sortOrder="50"
                       showInDefault="1"
                       showInWebsite="0"
                       showInStore="0">
                    <label>Send Digest Emails To</label>
                    <comment>Comma separate multiple emails.</comment>
                    <validate>validate-emails</validate>
                    <depends>
                        <field id="system/event_log/enable_digest_email">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
